{% extends 'VodrocheFrontBundle::layout.html.twig' %}

{% block content %}
	<section id="main" class="wrapper">
		<p>Choisissez votre thème</p>
		<ul class="categories  ">
			{% for categorie in categories %}
					<li class="btn {% if loop.index is divisible by(5) %}nomargin{% endif %}"><a href="{{ path('categorie', { 'id': categorie.id }) }}"><span>{{categorie.name}}</span></a></li>
			{% endfor %}
		</ul>
		<img class="modeEmploi" src="{{ asset('bundles/vodrochefront/images/mode-emplois.jpg') }}" />
	</section>

{% endblock %}