<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Connexion</title>
	<link href="{{ asset('bundles/vodrochefront/css/main.css') }}" rel="stylesheet" type="text/css" />
</head>
<body class="login">

{% block fos_user_content %}{% endblock %}
	
</body>
</html>

